$co: 'main', 'well', 'warn', 'risk', 'info';
$sz: 'xs', 's', 'm', 'l', 'xl';

[ui-tabs~='@c'] {
  position: relative;
  display: inline-flex;
  max-width: 100%;
  height: 2.5em;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2px;
  border-radius: 0.35em;

  @include theme {
    background: co(weak);
  }

  & > * {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    &.active {
      @include theme {
        color: co(main);
        background: co(fore);
      }
    }
  }

  // 对齐
  &,
  &[ui-tabs~='al'] {
    text-align: left;
  }
  &[ui-tabs~='ac'] {
    text-align: center;
  }
  &[ui-tabs~='ar'] {
    text-align: right;
  }

  // 尺寸
  $base: 1.5em;
  @each $i in $sz {
    &[ui-tabs~='#{$i}'] {
      height: $base;

      & > * {
        padding: 0.5em $base - 1.25em;
      }
    }
    $base: $base + 0.5;
  }

  &[ui-tabs~=':round'] {
    border-radius: 100em;
    & > * {
      border-radius: 100em;
    }
  }
}
