$co: 'main', 'well', 'warn', 'risk', 'info';
$sz: 'xs', 's', 'm', 'l', 'xl';

[ui-tabs~='@a'] {
  position: relative;
  max-width: 100%;
  height: 2.5em;
  line-height: 2.5em;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  // @include theme {
  box-shadow: inset 0 -1px 0 var(--co-line);
  // }

  & > * {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;

    &:first-child {
      margin-left: 0 !important;
    }
    &:last-child {
      margin-right: 0 !important;
    }

    &.active {
      -webkit-font-smoothing: auto;
      // @include theme {
      color: var(--co-main);
      box-shadow: inset 0 -2px 0 var(--co-main);
      // }
    }
  }

  // 对齐
  &,
  &[ui-tabs~='al'] {
    text-align: left;
  }
  &[ui-tabs~='ac'] {
    text-align: center;
  }
  &[ui-tabs~='ar'] {
    text-align: right;
  }

  // 尺寸
  $base: 2em;
  @each $i in $sz {
    // @debug $i;
    &[ui-tabs~='#{$i}'] {
      height: $base;
      line-height: $base;

      & > * {
        margin-left: $base * 0.5 - 0.5em;
        margin-right: $base * 0.5 - 0.5em;
      }
    }
    $base: $base + 0.25;
  }
}
