$state: 'main', 'read', 'well', 'warn', 'risk', 'info';

[ui-cite~='@a'] {
  width: 100%;
  padding: 1em;
  border-radius: 0.25em;

  @mixin cite($co, $bk) {
    color: inherit;
    border-left: 0.3em solid rgba($co, 0.8);
    box-shadow:
      inset -1px 0 0 0 $bk,
      inset 0 1px 0 0 $bk,
      inset 0 -1px 0 0 $bk;
  }

  @each $key in $state {
    @include theme {
      $co: co($key);
      $bk:var(--co-line) @if ($key== 'main') {
        &,
        &[ui-cite~='#{$key}'] {
          @include cite($co, $bk);
        }
      } @else {
        &[ui-cite~='#{$key}'] {
          @include cite($co, $bk);
        }
      }
    }
  }
}
