[ui-load~='@a'],
.ui-load-a {
  @keyframes ui-load-a {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  & {
    position: absolute;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    animation: ui-load-a 2s cubic-bezier(0.72, 0.115, 0.355, 0.88) infinite both;

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 50%;
      height: 50%;
      left: 25%;
      top: 25%;
      border-radius: 1em;
      color: var(--co-text);
      box-shadow:
        -1em 0 var(--co-text-o-ls),
        1em 0 var(--co-text-o-sl),
        0 1em var(--co-text-o-mm),
        0 -1em var(--co-text-o-ll),
        -0.7em 0.7em var(--co-text-o-ml),
        0.7em -0.7em var(--co-text),
        -0.7em -0.7em var(--co-text-o-lm),
        0.7em 0.7em var(--co-text-o-ms);

      transform: rotate3d(0, 0, 1, 6deg) scale(0.45);
    }
  }
}
