@use 'sass:math';
// 全局共用
@import '../base.scss';

// 主题共用
[ui-form~='@d'] {
  // 禁用
  &[ui-form~='disabled'] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  // 撑满
  &[ui-form~=':block'] {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  // 圆弧
  // &[ui-form~=':round'] {
  //   border-radius: 50em;
  // }

  // 清理
  [ui-form-clean] {
    display: inline-block;
    @include theme {
      color: co(case);
      background:
        linear-gradient(45deg, transparent 40%, co(fore) 45%, co(fore) 55%, transparent 60%) no-repeat center / 38% 38%,
        linear-gradient(-45deg, transparent 40%, co(fore) 45%, co(fore) 55%, transparent 60%) no-repeat center / 38% 38%,
        radial-gradient(circle at 50% 50%, currentColor 53%, transparent 58%);
    }
  }

  input:-webkit-autofill {
    @include theme {
      box-shadow: 0 0 0 1000px co(fore) inset;
      color: co(read);
      -webkit-text-fill-color: co(read);
    }
  }
}
