$cos: 'main', 'well', 'warn', 'risk', 'info';
[ui-note~='@a'] {
  // 基础
  & {
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 0.25rem;

    color: var(--co-read);
    box-shadow: inset 0 0 0 1px var(--co-line);
    background: var(--co-weak);
  }

  // 颜色
  @each $co in $cos {
    &[ui-note~='#{$co}'] {
      color: var(--co-#{$co}-text);
      box-shadow: inset 0 0 0 1px var(--co-#{$co}-o-sl);
      background: var(--bg-#{$co});
    }
  }
}
