$cos: 'main', 'well', 'warn', 'risk', 'info';
[ui-note~='@a'] {
  // 基础
  & {
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
    color: var(--co-read);
    box-shadow: inset 0 0 0 1px var(--co-read-sl);
    background: var(--co-read-xs);
  }

  // 颜色
  @each $co in $cos {
    &[ui-note~='#{$co}'] {
      color: var(--co-#{$co});
      box-shadow: inset 0 0 0 1px var(--co-#{$co}-sl);
      background: var(--co-#{$co}-xs);
    }
  }
}
