[ui-load~='@b'],
.ui-load-b {
  @keyframes ui-load-b {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  & {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background:
      linear-gradient(90deg, transparent 43%, #666 44%, #666 56%, transparent 57%) no-repeat 50% 8% / 100% 15%,
      radial-gradient(circle at 50% 7%, #666 5.5%, transparent 6.5%),
      radial-gradient(circle at 50% 23%, #666 6.5%, transparent 7.5%),
      radial-gradient(circle at 20% 20%, #777 6%, transparent 7%),
      radial-gradient(circle at 22% 22%, #777 6%, transparent 7%),
      radial-gradient(circle at 24% 24%, #777 6%, transparent 7%),
      radial-gradient(circle at 26% 26%, #777 6%, transparent 7%),
      radial-gradient(circle at 28% 28%, #777 6%, transparent 7%),
      radial-gradient(circle at 30% 30%, #777 6%, transparent 7%),
      linear-gradient(0deg, transparent 43%, #888 44%, #888 56%, transparent 57%) no-repeat 8% 50% / 15% 100%,
      radial-gradient(circle at 7% 50%, #888 5.5%, transparent 6.5%),
      radial-gradient(circle at 23% 50%, #888 6.5%, transparent 7.5%),
      radial-gradient(circle at 20% 80%, #999 6%, transparent 7%),
      radial-gradient(circle at 22% 78%, #999 6%, transparent 7%),
      radial-gradient(circle at 24% 76%, #999 6%, transparent 7%),
      radial-gradient(circle at 26% 74%, #999 6%, transparent 7%),
      radial-gradient(circle at 28% 72%, #999 6%, transparent 7%),
      radial-gradient(circle at 30% 70%, #999 6%, transparent 7%),
      linear-gradient(90deg, transparent 43%, #aaa 44%, #aaa 56%, transparent 57%) no-repeat 50% 92% / 100% 15%,
      radial-gradient(circle at 50% 93%, #aaa 5.5%, transparent 6.5%),
      radial-gradient(circle at 50% 77%, #aaa 6.5%, transparent 7.5%),
      radial-gradient(circle at 80% 80%, #bbb 6%, transparent 7%),
      radial-gradient(circle at 78% 78%, #bbb 6%, transparent 7%),
      radial-gradient(circle at 76% 76%, #bbb 6%, transparent 7%),
      radial-gradient(circle at 74% 74%, #bbb 6%, transparent 7%),
      radial-gradient(circle at 72% 72%, #bbb 6%, transparent 7%),
      radial-gradient(circle at 70% 70%, #bbb 6%, transparent 7%),
      linear-gradient(0deg, transparent 43%, #ccc 44%, #ccc 56%, transparent 57%) no-repeat 92% 50% / 15% 100%,
      radial-gradient(circle at 93% 50%, #ccc 5.5%, transparent 6.5%),
      radial-gradient(circle at 77% 50%, #ccc 6.5%, transparent 7.5%),
      radial-gradient(circle at 80% 20%, #ddd 6%, transparent 7%),
      radial-gradient(circle at 78% 22%, #ddd 6%, transparent 7%),
      radial-gradient(circle at 76% 24%, #ddd 6%, transparent 7%),
      radial-gradient(circle at 74% 26%, #ddd 6%, transparent 7%),
      radial-gradient(circle at 72% 28%, #ddd 6%, transparent 7%),
      radial-gradient(circle at 70% 30%, #ddd 6%, transparent 7%);
    animation: ui-load-b 1.5s linear infinite both;
  }
}
