[ui-load='@e'],
.ui-load-e {
  @keyframes ui-load-e {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  & {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    @include theme {
      border: 1px solid currentColor;
    }
    border-right-color: transparent !important;
    animation: ui-load-e 1.5s linear infinite both;
  }
}
