[ui-load='@c'],
.ui-load-c {
  $c1: rgba(051, 181, 229, 0.8);
  $c2: rgba(255, 068, 068, 0.8);
  $c3: rgba(255, 187, 050, 0.8);

  @keyframes ui-load-c {
    0% {
      background-image: radial-gradient(circle at 50%, $c1 17%, transparent 17.9%), radial-gradient(circle at 50%, $c2 10%, transparent 10.9%),
        radial-gradient(circle at 50%, $c3 17%, transparent 17.9%);
    }

    2% {
      background-image: radial-gradient(circle at 45%, $c1 17%, transparent 17.9%), radial-gradient(circle at 50%, $c2 11%, transparent 11.9%),
        radial-gradient(circle at 55%, $c3 17%, transparent 17.9%);
    }

    4% {
      background-image: radial-gradient(circle at 40%, $c1 16%, transparent 16.9%), radial-gradient(circle at 50%, $c2 12%, transparent 12.9%),
        radial-gradient(circle at 60%, $c3 16%, transparent 16.9%);
    }

    6% {
      background-image: radial-gradient(circle at 35%, $c1 15%, transparent 15.9%), radial-gradient(circle at 50%, $c2 13%, transparent 13.9%),
        radial-gradient(circle at 65%, $c3 15%, transparent 15.9%);
    }

    8% {
      background-image: radial-gradient(circle at 30%, $c1 14%, transparent 14.9%), radial-gradient(circle at 50%, $c2 14%, transparent 14.9%),
        radial-gradient(circle at 70%, $c3 14%, transparent 14.9%);
    }

    10% {
      background-image: radial-gradient(circle at 25%, $c1 13%, transparent 13.9%), radial-gradient(circle at 50%, $c2 15%, transparent 15.9%),
        radial-gradient(circle at 75%, $c3 13%, transparent 13.9%);
    }

    12% {
      background-image: radial-gradient(circle at 20%, $c1 12%, transparent 12.9%), radial-gradient(circle at 50%, $c2 16%, transparent 16.9%),
        radial-gradient(circle at 80%, $c3 12%, transparent 12.9%);
    }

    14% {
      background-image: radial-gradient(circle at 15%, $c1 11%, transparent 11.9%), radial-gradient(circle at 50%, $c2 17%, transparent 17.9%),
        radial-gradient(circle at 85%, $c3 11%, transparent 11.9%);
    }

    16% {
      background-image: radial-gradient(circle at 12%, $c1 10%, transparent 10.9%), radial-gradient(circle at 50%, $c2 17%, transparent 17.9%),
        radial-gradient(circle at 88%, $c3 10%, transparent 10.9%);
    }

    18% {
      background-image: radial-gradient(circle at 50%, $c2 17%, transparent 17.9%), radial-gradient(circle at 12%, $c1 10%, transparent 10.9%),
        radial-gradient(circle at 88%, $c3 10%, transparent 10.9%);
    }

    20% {
      background-image: radial-gradient(circle at 50%, $c2 17%, transparent 17.9%), radial-gradient(circle at 15%, $c1 11%, transparent 11.9%),
        radial-gradient(circle at 85%, $c3 11%, transparent 11.9%);
    }

    22% {
      background-image: radial-gradient(circle at 50%, $c2 17%, transparent 17.9%), radial-gradient(circle at 20%, $c1 12%, transparent 12.9%),
        radial-gradient(circle at 80%, $c3 12%, transparent 12.9%);
    }

    24% {
      background-image: radial-gradient(circle at 50%, $c2 17%, transparent 17.9%), radial-gradient(circle at 25%, $c1 13%, transparent 13.9%),
        radial-gradient(circle at 75%, $c3 13%, transparent 13.9%);
    }

    26% {
      background-image: radial-gradient(circle at 50%, $c2 17%, transparent 17.9%), radial-gradient(circle at 30%, $c1 14%, transparent 14.9%),
        radial-gradient(circle at 70%, $c3 14%, transparent 14.9%);
    }

    28% {
      background-image: radial-gradient(circle at 50%, $c2 17%, transparent 17.9%), radial-gradient(circle at 35%, $c1 15%, transparent 15.9%),
        radial-gradient(circle at 65%, $c3 15%, transparent 15.9%);
    }

    30% {
      background-image: radial-gradient(circle at 50%, $c2 17%, transparent 17.9%), radial-gradient(circle at 40%, $c1 16%, transparent 16.9%),
        radial-gradient(circle at 60%, $c3 16%, transparent 16.9%);
    }

    32% {
      background-image: radial-gradient(circle at 50%, $c2 17%, transparent 17.9%), radial-gradient(circle at 45%, $c1 17%, transparent 17.9%),
        radial-gradient(circle at 55%, $c3 17%, transparent 17.9%);
    }

    34% {
      background-image: radial-gradient(circle at 50%, $c2 17%, transparent 17.9%), radial-gradient(circle at 50%, $c1 17%, transparent 17.9%),
        radial-gradient(circle at 50%, $c3 17%, transparent 17.9%);
    }

    36% {
      background-image: radial-gradient(circle at 45%, $c2 17%, transparent 17.9%), radial-gradient(circle at 50%, $c3 00%, transparent 00.9%),
        radial-gradient(circle at 55%, $c1 17%, transparent 17.9%);
    }

    38% {
      background-image: radial-gradient(circle at 40%, $c2 16%, transparent 16.9%), radial-gradient(circle at 50%, $c3 00%, transparent 00.9%),
        radial-gradient(circle at 60%, $c1 16%, transparent 16.9%);
    }

    40% {
      background-image: radial-gradient(circle at 35%, $c2 15%, transparent 15.9%), radial-gradient(circle at 50%, $c3 05%, transparent 05.9%),
        radial-gradient(circle at 65%, $c1 15%, transparent 15.9%);
    }

    42% {
      background-image: radial-gradient(circle at 30%, $c2 14%, transparent 14.9%), radial-gradient(circle at 50%, $c3 10%, transparent 10.9%),
        radial-gradient(circle at 70%, $c1 14%, transparent 14.9%);
    }

    44% {
      background-image: radial-gradient(circle at 25%, $c2 13%, transparent 13.9%), radial-gradient(circle at 50%, $c3 15%, transparent 15.9%),
        radial-gradient(circle at 75%, $c1 13%, transparent 13.9%);
    }

    46% {
      background-image: radial-gradient(circle at 20%, $c2 12%, transparent 12.9%), radial-gradient(circle at 50%, $c3 17%, transparent 17.9%),
        radial-gradient(circle at 80%, $c1 12%, transparent 12.9%);
    }

    48% {
      background-image: radial-gradient(circle at 15%, $c2 11%, transparent 11.9%), radial-gradient(circle at 50%, $c3 17%, transparent 17.9%),
        radial-gradient(circle at 85%, $c1 11%, transparent 11.9%);
    }

    50% {
      background-image: radial-gradient(circle at 12%, $c2 10%, transparent 10.9%), radial-gradient(circle at 50%, $c3 17%, transparent 17.9%),
        radial-gradient(circle at 88%, $c1 10%, transparent 10.9%);
    }

    52% {
      background-image: radial-gradient(circle at 50%, $c3 17%, transparent 17.9%), radial-gradient(circle at 12%, $c2 10%, transparent 10.9%),
        radial-gradient(circle at 88%, $c1 10%, transparent 10.9%);
    }

    54% {
      background-image: radial-gradient(circle at 50%, $c3 17%, transparent 17.9%), radial-gradient(circle at 15%, $c2 11%, transparent 11.9%),
        radial-gradient(circle at 85%, $c1 11%, transparent 11.9%);
    }

    56% {
      background-image: radial-gradient(circle at 50%, $c3 17%, transparent 17.9%), radial-gradient(circle at 20%, $c2 12%, transparent 12.9%),
        radial-gradient(circle at 80%, $c1 12%, transparent 12.9%);
    }

    58% {
      background-image: radial-gradient(circle at 50%, $c3 17%, transparent 17.9%), radial-gradient(circle at 25%, $c2 13%, transparent 13.9%),
        radial-gradient(circle at 75%, $c1 13%, transparent 13.9%);
    }

    60% {
      background-image: radial-gradient(circle at 50%, $c3 17%, transparent 17.9%), radial-gradient(circle at 30%, $c2 14%, transparent 14.9%),
        radial-gradient(circle at 70%, $c1 14%, transparent 14.9%);
    }

    62% {
      background-image: radial-gradient(circle at 50%, $c3 17%, transparent 17.9%), radial-gradient(circle at 35%, $c2 15%, transparent 15.9%),
        radial-gradient(circle at 65%, $c1 15%, transparent 15.9%);
    }

    64% {
      background-image: radial-gradient(circle at 50%, $c3 17%, transparent 17.9%), radial-gradient(circle at 40%, $c2 16%, transparent 16.9%),
        radial-gradient(circle at 60%, $c1 16%, transparent 16.9%);
    }

    66% {
      background-image: radial-gradient(circle at 50%, $c3 17%, transparent 17.9%), radial-gradient(circle at 45%, $c2 17%, transparent 17.9%),
        radial-gradient(circle at 55%, $c1 17%, transparent 17.9%);
    }

    68% {
      background-image: radial-gradient(circle at 50%, $c3 17%, transparent 17.9%), radial-gradient(circle at 50%, $c2 17%, transparent 17.9%),
        radial-gradient(circle at 50%, $c1 17%, transparent 17.9%);
    }

    70% {
      background-image: radial-gradient(circle at 45%, $c3 17%, transparent 17.9%), radial-gradient(circle at 50%, $c1 00%, transparent 00.9%),
        radial-gradient(circle at 55%, $c2 17%, transparent 17.9%);
    }

    72% {
      background-image: radial-gradient(circle at 40%, $c3 16%, transparent 16.9%), radial-gradient(circle at 50%, $c1 00%, transparent 00.9%),
        radial-gradient(circle at 60%, $c2 16%, transparent 16.9%);
    }

    74% {
      background-image: radial-gradient(circle at 35%, $c3 15%, transparent 15.9%), radial-gradient(circle at 50%, $c1 05%, transparent 05.9%),
        radial-gradient(circle at 65%, $c2 15%, transparent 15.9%);
    }

    76% {
      background-image: radial-gradient(circle at 30%, $c3 14%, transparent 14.9%), radial-gradient(circle at 50%, $c1 10%, transparent 10.9%),
        radial-gradient(circle at 70%, $c2 14%, transparent 14.9%);
    }

    78% {
      background-image: radial-gradient(circle at 25%, $c3 13%, transparent 13.9%), radial-gradient(circle at 50%, $c1 15%, transparent 15.9%),
        radial-gradient(circle at 75%, $c2 13%, transparent 13.9%);
    }

    80% {
      background-image: radial-gradient(circle at 20%, $c3 12%, transparent 12.9%), radial-gradient(circle at 50%, $c1 17%, transparent 17.9%),
        radial-gradient(circle at 80%, $c2 12%, transparent 12.9%);
    }

    82% {
      background-image: radial-gradient(circle at 15%, $c3 11%, transparent 11.9%), radial-gradient(circle at 50%, $c1 17%, transparent 17.9%),
        radial-gradient(circle at 85%, $c2 11%, transparent 11.9%);
    }

    84% {
      background-image: radial-gradient(circle at 12%, $c3 10%, transparent 10.9%), radial-gradient(circle at 50%, $c1 17%, transparent 17.9%),
        radial-gradient(circle at 88%, $c2 10%, transparent 10.9%);
    }

    86% {
      background-image: radial-gradient(circle at 50%, $c1 17%, transparent 17.9%), radial-gradient(circle at 12%, $c3 10%, transparent 10.9%),
        radial-gradient(circle at 88%, $c2 10%, transparent 10.9%);
    }

    88% {
      background-image: radial-gradient(circle at 50%, $c1 17%, transparent 17.9%), radial-gradient(circle at 15%, $c3 11%, transparent 11.9%),
        radial-gradient(circle at 85%, $c2 11%, transparent 11.9%);
    }

    90% {
      background-image: radial-gradient(circle at 50%, $c1 17%, transparent 17.9%), radial-gradient(circle at 20%, $c3 12%, transparent 12.9%),
        radial-gradient(circle at 80%, $c2 12%, transparent 12.9%);
    }

    92% {
      background-image: radial-gradient(circle at 50%, $c1 17%, transparent 17.9%), radial-gradient(circle at 25%, $c3 13%, transparent 13.9%),
        radial-gradient(circle at 75%, $c2 13%, transparent 13.9%);
    }

    94% {
      background-image: radial-gradient(circle at 50%, $c1 17%, transparent 17.9%), radial-gradient(circle at 30%, $c3 14%, transparent 14.9%),
        radial-gradient(circle at 70%, $c2 14%, transparent 14.9%);
    }

    96% {
      background-image: radial-gradient(circle at 50%, $c1 17%, transparent 17.9%), radial-gradient(circle at 35%, $c3 15%, transparent 15.9%),
        radial-gradient(circle at 65%, $c2 15%, transparent 15.9%);
    }

    98% {
      background-image: radial-gradient(circle at 50%, $c1 17%, transparent 17.9%), radial-gradient(circle at 40%, $c3 16%, transparent 16.9%),
        radial-gradient(circle at 60%, $c2 16%, transparent 16.9%);
    }

    100% {
      background-image: radial-gradient(circle at 50%, $c1 17%, transparent 17.9%), radial-gradient(circle at 45%, $c3 17%, transparent 17.9%),
        radial-gradient(circle at 55%, $c2 17%, transparent 17.9%);
    }
  }

  & {
    display: inline-block;
    width: 3em;
    height: 3em;
    animation: ui-load-c 2s linear infinite both;
  }
}
