/**
属性	        描述
disabled	   规定输入字段应该被禁用。
max	         规定输入字段的最大值。
maxlength	   规定输入字段的最大字符数。
min          规定输入字段的最小值。
pattern	     规定通过其检查输入值的正则表达式。
readonly	   规定输入字段为只读（无法修改）。
required	   规定输入字段是必需的（必需填写）。
size	       规定输入字段的宽度（以字符计）。
step	       规定输入字段的合法数字间隔。
value	       规定输入字段的默认值。
*/
@use 'sass:math';
$co: 'info', 'well', 'warn', 'risk';

[ui-form~='@c'] {
  &[ui-form~='type:textarea'] {
    position: relative;
    min-width: 6em;
    line-height: 1.5em;
    padding: 0.5em;
    border-radius: 0.25em;
    transition: all 0.5s;
    background-color: transparent;

    box-shadow: inset 0 0 0 1px var(--co-case);
    background-color: var(--co-weak-fore);

    &:hover {
      box-shadow: inset 0 0 0 1px var(--co-main-o-mm);
    }

    &.form-focus,
    &:focus {
      background-color: transparent;
      box-shadow:
        inset 0 0 0 1px var(--co-main-o-mm),
        0 0 0 2px var(--co-main-o-ss);
    }

    // 颜色
    @each $c in $co {
      &[ui-form~='co:#{$c}'] {
        color: var(--co-#{$c}-text);
        box-shadow:
          inset 0 0 0 1px var(--co-#{$c}-o-ml),
          0 0 0 2px var(--co-#{$c}-o-ss) !important;
        background-color: var(--co-#{$c}-o-sl);
      }

      &[ui-form~='co:hover:#{$c}'] {
        &:hover {
          color: var(--co-#{$c}-text);
          box-shadow:
            inset 0 0 0 1px var(--co-#{$c}-o-ml),
            0 0 0 2px var(--co-#{$c}-o-ss) !important;
          background-color: var(--co-#{$c}-o-sl);
        }
      }

      &[ui-form~='co:focus:#{$c}'] {
        &:focus-within {
          color: var(--co-#{$c}-text);
          box-shadow:
            inset 0 0 0 1px var(--co-#{$c}-o-ml),
            0 0 0 2px var(--co-#{$c}-o-ss) !important;
          background-color: var(--co-#{$c}-o-sl);
        }
      }
    }
  }
}
