$theme: (
  'light': (
    main: #18a058,
    vice: #41b856,
    text: #222222,
    fore: #ffffff,
    back: #ffffff,
    link: #d07950,
    code: #e23861,
    well: #4bbc73,
    warn: #f59023,
    risk: #f95850,
    info: #0889e4,
    home: #03777a
  ),
  'dark': (
    main: #18a058,
    vice: #41b856,
    text: #ffffff,
    fore: #222222,
    back: #171717,
    link: #dd7f49,
    code: #e23861,
    well: #4bbc73,
    warn: #f59023,
    risk: #f95850,
    info: #0889e4,
    home: #03777a
  )
);

// 组件
@import '@neatui/css';

// 插件
@import '@fekit/toast/theme/toast@ac.scss';
@import '@fekit/inview/theme/inview@aa.scss';
@import '@fekit/inview/theme/inview@ad.scss';

// 页面
@import './base.scss';
@import './home.scss';
@import './docs.scss';
