$state: 'main', 'well', 'warn', 'risk', 'info', 'read', 'note', 'idle';
$sz: 'xs', 's', 'm', 'l', 'xl';

// 单个
[ui-tag~='@a'] {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.2rem;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;

  // 圆角
  &[ui-tag~=':round'] {
    border-radius: 10em;
    padding: 0.25em 0.65em;
  }
  // 叶型
  &[ui-tag~=':leaf'] {
    border-radius: 0.5em 0;
  }
  // 弹头
  &[ui-tag~=':bullet'] {
    padding: 0.25em 0.5em 0.25em 0.65em;
    border-radius: 1em 0.2em 0.2em 1em;
  }

  @each $co in $state {
    @if ($co== 'main') {
      &,
      &[ui-tag~='#{$co}'] {
        color: var(--co-#{$co}-text);
        box-shadow: inset 0 0 0 1px var(--co-#{$co}-o-ss);
        background: var(--bg-#{$co});
      }
    } @else {
      &[ui-tag~='#{$co}'] {
        color: var(--co-#{$co}-text);
        box-shadow: inset 0 0 0 1px var(--co-#{$co}-o-ss);
        background: var(--bg-#{$co});
      }
    }
  }
}

// 群组
[ui-tags~='@a'] {
  // 容器
  & {
    position: relative;
    width: 100%;

    &[ui-tags~='al'] {
      & > * {
        margin-right: 0.5rem;
      }
    }
    &[ui-tags~='ac'] {
      & > * {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
    &[ui-tags~='ar'] {
      & > * {
        margin-left: 0.5rem;
      }
    }
  }

  // 子项
  & > * {
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 0.2rem;
    line-height: 1;
    white-space: nowrap;
  }

  // 圆角
  &[ui-tags~=':round'] > * {
    border-radius: 10em;
  }
  // 叶型
  &[ui-tags~=':leaf'] > * {
    border-radius: 10em 0;
  }
  // 弹头
  &[ui-tag~=':bullet'] > * {
    padding: 0.25em 0.65em 0.25em 0.5em;
    border-radius: 1em 0.2em 0.2em 1em;
  }

  // 主题
  @each $co in $state {
    @if ($co== 'main') {
      & > *,
      &[ui-tags~='#{$co}'] > * {
        color: var(--co-#{$co}-text);
        box-shadow: inset 0 0 0 1px var(--co-#{$co}-o-ss);
        background: var(--bg-#{$co});
      }
    } @else {
      &[ui-tags~='#{$co}'] > * {
        color: var(--co-#{$co}-text);
        box-shadow: inset 0 0 0 1px var(--co-#{$co}-o-ss);
        background: var(--bg-#{$co});
      }
    }
  }
}
