// 主题
@import './base.scss';

[ui-table~='@c'] {
  & {
    border-collapse: separate;
    border-spacing: 0 0.5em;
  }

  tbody {
    tr {
      box-shadow: inset 0 0 0 1px var(--co-line);
      border-radius: 0.2em;
    }
  }
}
