@mixin card_b($name) {
  & {
    position: relative;

    & > * {
      position: relative;
      transition: box-shadow 0.3s;
      border-radius: 0.4em;
      // @include theme {
      background: var(--co-fore);
      &:hover {
        box-shadow: 0 1px 6px var(--co-line);
      }
      // }
      &.active {
        // @include theme {
        border: 1px solid var(--co-read);
        // }
      }

      // 标题
      [ui-card-head] {
        padding: 0 1.5rem;
        line-height: 4rem;
        @include med('<dpc') {
          padding: 0 1rem;
          line-height: 3.5rem;
        }
        // @include theme {
        border-bottom: 1px solid var(--co-line-o-mm);
        // }
      }
      // 主体
      [ui-card-body] {
        padding: 1.5rem;
        @include med('<dpc') {
          padding: 1.5rem;
        }
      }
    }
  }

  @at-root {
    // 最大化
    &[#{$name}~='max'] {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 10;
      overflow: auto;
    }
  }
}

// 单个卡片
[ui-card~='@b'] {
  @include card_b('ui-card');
}

// 多个卡片
[ui-cards~='@b'] {
  & {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    align-content: stretch;
  }
  & > * {
    @include card_b('ui-cards');
  }
}
