@font-face {
  font-family: 'icon'; /* Project id 4222099 */
  src:
    url('iconfont.woff2?t=1719472993140') format('woff2'),
    url('iconfont.woff?t=1719472993140') format('woff'),
    url('iconfont.ttf?t=1719472993140') format('truetype');
}

.icon {
  font-family: 'icon' !important;
  display: inline-block;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nolike:before {
  content: '\eb18';
}

.icon-like:before {
  content: '\e62d';
}

.icon-github:before {
  content: '\e85a';
}

.icon-more:before {
  content: '\e688';
}

.icon-logo:before {
  content: '\e6b1';
}

.icon-logo1:before {
  content: '\e6b3';
}

.icon-logo2:before {
  content: '\e6b4';
}

.icon-selected:before {
  content: '\e60a';
}

.icon-view:before {
  content: '\e6a6';
}

.icon-delete:before {
  content: '\e752';
}

.icon-revise:before {
  content: '\e753';
}

.icon-back:before {
  content: '\e634';
}

.icon-triangle:before {
  content: '\e631';
}

.icon-code:before {
  content: '\e7ac';
}

.icon-fail:before {
  content: '\e86e';
}

.icon-refresh:before {
  content: '\e608';
}

.icon-lang1:before {
  content: '\e693';
}

.icon-dropdown:before {
  content: '\e8ea';
}

.icon-bx-link:before {
  content: '\e653';
}

.icon-theme:before {
  content: '\e6ad';
}

.icon-search:before {
  content: '\e65e';
}

.icon-nodata:before {
  content: '\e6ed';
}

.icon-personalise:before {
  content: '\e713';
}

.icon-theme-big:before {
  content: '\e716';
}

.icon-dropup:before {
  content: '\eb17';
}

.icon-menu:before {
  content: '\e865';
}
