@import './base.scss';

[ui-tips~='@a'] {
  // 按钮
  [ui-tips-btn] {
    position: relative;
  }
  // 盒子
  [ui-tips-box] {
    position: absolute;
    @include theme {
      background: co(fore);
    }
    box-shadow: 0 0 0.2em 1px rgba(0, 0, 0, 0.08);
    // padding: 0.5em;
    border-radius: 0.25em;
    pointer-events: none;
    opacity: 0;
    transition:
      opacity 0.3s,
      transform 0.3s;
    z-index: 10;

    &[ux-view='1'] {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      pointer-events: auto;
    }

    &::before {
      content: '';
      position: absolute;
    }

    [ui-tips-arrow],
    &[ui-tips-arrow~='true']::after {
      content: '';
      position: absolute;
      width: 0.5em;
      height: 0.5em;
      transform: rotate(45deg);
      @include theme {
        background: co(fore);
      }
    }
  }

  & {
    position: relative;
    display: inline-block;
  }
}
