[ui-navs~='@b'] {
  position: relative;
  & > * {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;

    &:hover {
      & > * {
        text-decoration: underline;
        opacity: 0.8;
      }
    }
    &:active {
      & > * {
        display: inline-block;
        transform: scale3d(0.95, 0.9, 1);
      }
    }

    &:not(:last-child):after {
      display: inline-block;
      content: '|';
      margin-left: 1.2em;
      margin-right: 1em;
      opacity: 0.3;
    }
  }

  // 主题
  &,
  &[ui-navs~='text'] {
    & > * {
      color: var(--co-text);

      &.active {
        & > *:first-child {
          color: var(--co-main);
        }
      }
    }
  }

  &[ui-navs~='read'] {
    & > * {
      color: var(--co-read);

      &.active {
        & > *:first-child {
          color: var(--co-main-text);
        }
      }
    }
  }

  &[ui-navs~='note'] {
    & > * {
      color: var(--co-note);

      &.active {
        & > *:first-child {
          color: var(--co-main-text);
        }
      }
    }
  }

  &[ui-navs~='back'] {
    & > * {
      color: var(--co-back-ls);

      &.active {
        & > *:first-child {
          color: var(--co-back);
        }
      }
    }
  }

  // 对齐
  & {
    &,
    &[ui-navs~='al'] {
      text-align: left;
    }

    &[ui-navs~='ac'] {
      text-align: center;
    }

    &[ui-navs~='ar'] {
      text-align: right;
    }
  }
}
