[ui-navs~='@a'] {
  position: relative;
  & > * {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;

    &:hover {
      & > *:first-child {
        text-decoration: underline;
        opacity: 0.8;
      }
    }
    &:active {
      & > *:first-child {
        display: inline-block;
        transform: scale3d(0.95, 0.9, 1);
      }
    }
  }

  // 主题
  &,
  &[ui-navs~='text'] {
    & > * {
      color: var(--co-text);

      &.active {
        & > *:first-child {
          color: var(--co-main);
        }
      }
    }
  }

  &[ui-navs~='read'] {
    & > * {
      color: var(--co-read);

      &.active {
        & > *:first-child {
          color: var(--co-main-text);
        }
      }
    }
  }

  &[ui-navs~='note'] {
    & > * {
      color: var(--co-note);

      &.active {
        & > *:first-child {
          color: var(--co-main-text);
        }
      }
    }
  }

  &[ui-navs~='back'] {
    & > * {
      color: var(--co-back--o-ll);

      &.active {
        & > *:first-child {
          color: var(--co-back);
        }
      }
    }
  }

  // 对齐
  & {
    &,
    &[ui-navs~='al'] {
      text-align: left;
      & > * {
        margin-left: 0;
        margin-right: 2em;
      }
    }

    &[ui-navs~='ac'] {
      text-align: center;
      & > * {
        margin-left: 1em;
        margin-right: 1em;
      }
    }

    &[ui-navs~='ar'] {
      text-align: right;
      & > * {
        margin-left: 2em;
        margin-right: 0;
      }
    }
  }
}
