html {
  color: var(--co-read);
  fill: var(--co-read);
  background-color: var(--co-back);
}

@mixin color($n, $v) {
  .co-#{$n},
  .hover\:co-#{$n}:hover {
    color: var(--co-#{$n}, #{$v}) !important;
    fill: var(--co-#{$n}, #{$v}) !important;
  }
  // 透明度
  .co-#{$n}\+o-xs,
  .hover\:co-#{$n}\+o-xs:hover {
    color: rgba($v, 0.05) !important;
    fill: rgba($v, 0.05) !important;
  }
  .co-#{$n}\+o-ss,
  .hover\:co-#{$n}\+o-ss:hover {
    color: rgba($v, 0.1) !important;
    fill: rgba($v, 0.1) !important;
  }
  .co-#{$n}\+o-sm,
  .hover\:co-#{$n}\+o-sm:hover {
    color: rgba($v, 0.2) !important;
    fill: rgba($v, 0.2) !important;
  }
  .co-#{$n}\+o-sl,
  .hover\:co-#{$n}\+o-sl:hover {
    color: rgba($v, 0.3) !important;
    fill: rgba($v, 0.3) !important;
  }
  .co-#{$n}\+o-ms,
  .hover\:co-#{$n}\+o-ms:hover {
    color: rgba($v, 0.4) !important;
    fill: rgba($v, 0.4) !important;
  }
  .co-#{$n}\+o-mm,
  .hover\:co-#{$n}\+o-mm:hover {
    color: rgba($v, 0.5) !important;
    fill: rgba($v, 0.5) !important;
  }
  .co-#{$n}\+o-ml,
  .hover\:co-#{$n}\+o-ml:hover {
    color: rgba($v, 0.6) !important;
    fill: rgba($v, 0.6) !important;
  }
  .co-#{$n}\+o-ls,
  .hover\:co-#{$n}\+o-ls:hover {
    color: rgba($v, 0.7) !important;
    fill: rgba($v, 0.7) !important;
  }
  .co-#{$n}\+o-lm,
  .hover\:co-#{$n}\+o-lm:hover {
    color: rgba($v, 0.8) !important;
    fill: rgba($v, 0.8) !important;
  }
  .co-#{$n}\+o-ll,
  .hover\:co-#{$n}\+o-ll:hover {
    color: rgba($v, 0.9) !important;
    fill: rgba($v, 0.9) !important;
  }
  .co-#{$n}\+o-xl,
  .hover\:co-#{$n}\+o-xl:hover {
    color: rgba($v, 0.95) !important;
    fill: rgba($v, 0.95) !important;
  }

  .bg-#{$n},
  .hover\:bg-#{$n}:hover {
    background-color: #{$v} !important;
  }
  // 透明度
  .bg-#{$n}\+o-xs,
  .hover\:bg-#{$n}\+o-xs:hover {
    background-color: rgba($v, 0.05) !important;
  }
  .bg-#{$n}\+o-ss,
  .hover\:bg-#{$n}\+o-ss:hover {
    background-color: rgba($v, 0.1) !important;
  }
  .bg-#{$n}\+o-sm,
  .hover\:bg-#{$n}\+o-sm:hover {
    background-color: rgba($v, 0.2) !important;
  }
  .bg-#{$n}\+o-sl,
  .hover\:bg-#{$n}\+o-sl:hover {
    background-color: rgba($v, 0.3) !important;
  }
  .bg-#{$n}\+o-ms,
  .hover\:bg-#{$n}\+o-ms:hover {
    background-color: rgba($v, 0.4) !important;
  }
  .bg-#{$n}\+o-mm,
  .hover\:bg-#{$n}\+o-mm:hover {
    background-color: rgba($v, 0.5) !important;
  }
  .bg-#{$n}\+o-ml,
  .hover\:bg-#{$n}\+o-ml:hover {
    background-color: rgba($v, 0.6) !important;
  }
  .bg-#{$n}\+o-ls,
  .hover\:bg-#{$n}\+o-ls:hover {
    background-color: rgba($v, 0.7) !important;
  }
  .bg-#{$n}\+o-lm,
  .hover\:bg-#{$n}\+o-lm:hover {
    background-color: rgba($v, 0.8) !important;
  }
  .bg-#{$n}\+o-ll,
  .hover\:bg-#{$n}\+o-ll:hover {
    background-color: rgba($v, 0.9) !important;
  }
  .bg-#{$n}\+o-xl,
  .hover\:bg-#{$n}\+o-xl:hover {
    background-color: rgba($v, 0.95) !important;
  }

  .b-#{$n},
  .bk-#{$n},
  .hover\:b-#{$n}:hover,
  .hover\:bk-#{$n}:hover {
    border-color: #{$v} !important;
  }
  // 透明度
  .bk-#{$n}\+o-xs,
  .hover\:bk-#{$n}\+o-xs:hover {
    border-color: rgba($v, 0.05) !important;
  }
  .bk-#{$n}\+o-ss,
  .hover\:bk-#{$n}\+o-ss:hover {
    border-color: rgba($v, 0.1) !important;
  }
  .bk-#{$n}\+o-sm,
  .hover\:bk-#{$n}\+o-sm:hover {
    border-color: rgba($v, 0.2) !important;
  }
  .bk-#{$n}\+o-sl,
  .hover\:bk-#{$n}\+o-sl:hover {
    border-color: rgba($v, 0.3) !important;
  }
  .bk-#{$n}\+o-ms,
  .hover\:bk-#{$n}\+o-ms:hover {
    border-color: rgba($v, 0.4) !important;
  }
  .bk-#{$n}\+o-mm,
  .hover\:bk-#{$n}\+o-mm:hover {
    border-color: rgba($v, 0.5) !important;
  }
  .bk-#{$n}\+o-ml,
  .hover\:bk-#{$n}\+o-ml:hover {
    border-color: rgba($v, 0.6) !important;
  }
  .bk-#{$n}\+o-ls,
  .hover\:bk-#{$n}\+o-ls:hover {
    border-color: rgba($v, 0.7) !important;
  }
  .bk-#{$n}\+o-lm,
  .hover\:bk-#{$n}\+o-lm:hover {
    border-color: rgba($v, 0.8) !important;
  }
  .bk-#{$n}\+o-ll,
  .hover\:bk-#{$n}\+o-ll:hover {
    border-color: rgba($v, 0.9) !important;
  }
  .bk-#{$n}\+o-xl,
  .hover\:bk-#{$n}\+o-xl:hover {
    border-color: rgba($v, 0.95) !important;
  }
}

@mixin colors($d: '') {
  $f: nth(nth($theme, 1), 1);
  @each $i in $theme {
    $n: nth($i, 1);
    $s: nth($i, 2);
    @if ($n == $f) {
      html,
      [theme] {
        @each $c in $s {
          @include color(nth($c, 1), nth($c, 2));
        }
      }
    } @else {
      [theme~='#{$n}'] {
        @each $c in $s {
          @include color(nth($c, 1), nth($c, 2));
        }
      }
    }
    @each $c in $s {
      $cn: nth($c, 1);
      $cv: nth($c, 2);
      .#{$n}-co-#{$cn} {
        color: $cv !important;
      }
      .#{$n}-bg-#{$cn} {
        background-color: $cv !important;
      }
      .#{$n}-bk-#{$cn} {
        border-color: $cv !important;
      }
    }
  }
}

// 随机背景色
.bg-0 {
  background-color: var(--co-main);
}

.bg-1 {
  background-color: #0084ff;
}
.bg-2 {
  background-color: #30d158;
}
.bg-3 {
  background-color: #5e5ce6;
}
.bg-4 {
  background-color: #ff9f0a;
}
.bg-5 {
  background-color: #ff375f;
}
.bg-6 {
  background-color: #af52de;
}
.bg-7 {
  background-color: #ff453a;
}
.bg-8 {
  background-color: #af52de;
}
.bg-9 {
  background-color: #5ac8fa;
}
.bg-10 {
  background-color: #ffcc00;
}
.bg-11 {
  background-color: #8e8e93;
}
.bg-12 {
  background-color: #bad80a;
}
.bg-13 {
  background-color: #1d6fa3;
}
.bg-14 {
  background-color: #fd6585;
}
.bg-15 {
  background-color: #df5900;
}
.bg-16 {
  background-color: #3388ff;
}
.bg-17 {
  background-color: #623aa2;
}
.bg-18 {
  background-color: #d939cd;
}
.bg-19 {
  background-color: #f55555;
}
.bg-20 {
  background-color: #bb4e75;
}

// 桌面
@include colors();
