[ui-line~='@b'] {
  $szs: xs, s, m, l, xl;
  $cos: main, read, case, weak;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  white-space: nowrap;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &::before {
    @include theme {
      background: linear-gradient(90deg, transparent 0%, co(line) 10%);
    }
  }
  &::after {
    @include theme {
      background: linear-gradient(270deg, transparent 0%, co(line) 10%);
    }
  }

  & > * {
    padding: 0 0.5em;
  }

  // 粗细
  $sz_base: 0px;
  @each $sz in $szs {
    $sz_base: $sz_base + 1;
    &[ui-line~='sz:#{$sz}'] {
      &::before,
      &::after {
        height: $sz_base;
      }
    }
  }

  // 颜色
  @each $co in $cos {
    &[ui-line~='co:#{$co}'] {
      &::before {
        @include theme {
          background: linear-gradient(90deg, transparent 0%, co($co) 10%);
        }
      }
      &::after {
        @include theme {
          background: linear-gradient(270deg, transparent 0%, co($co) 10%);
        }
      }
    }
  }
}
