@import '../icon/icon@hook.scss';
@import '../icon/icon@close.scss';
$co: 'none', 'main', 'vice', 'text', 'read', 'note', 'line', 'case', 'weak', 'fore', 'back', 'info', 'well', 'warn', 'risk';
$sz: 'xs', 's', 'm', 'l', 'xl';

[ui-steps~='@a'] {
  & {
    display: inline-flex;
    justify-content: space-around;
  }

  &[ui-steps~=':block'] {
    display: flex;
  }

  // 宽度撑满
  &[ui-steps~=':full'] {
    width: 100%;
  }

  & > * {
    position: relative;
    padding-top: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    flex-grow: 1;
    text-align: center;

    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      border-radius: 2px;
      left: 0;
      top: 0.75em;
      background: radial-gradient(circle at 50% 50%, transparent 2%, var(--co-case) 2.1%) no-repeat center / 100em 100%;
    }
    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 1.5em;
      height: 1.5em;
      left: 50%;
      margin-left: -0.75em;
      top: 0;
      border-radius: 50%;
      border: 1px solid var(--co-case);
    }

    &.done {
      color: var(--co-well);

      &::before {
        background: radial-gradient(circle at 50% 50%, transparent 2%, var(--co-well) 2.1%) no-repeat center / 100em 100%;
      }
      &::after {
        border: 1px solid var(--co-well);
        @extend %icon-hook;
      }
    }

    &.fail {
      color: var(--co-risk);

      &::before {
        background: radial-gradient(circle at 50% 50%, transparent 2%, var(--co-risk) 2.1%) no-repeat center / 100em 100%;
      }
      &::after {
        border: 1px solid var(--co-risk);
        @extend %icon-close;
      }
    }
  }
}
