[ui-demo~='@a'] {
  & {
    border-radius: 0.25em;
    @include theme {
      border: 1px solid co(line);
    }
  }

  [ui-demo-view] {
    padding: 1.5em;
    @include theme {
      background: linear-gradient(-45deg, rgba(co(line), 0.5) 12.5%, co(fore) 0, co(fore) 50%, co(line) 0, co(line) 62.5%, co(fore) 0, co(fore)) repeat center / 3px 3px;
    }
  }

  [ui-demo-tool] {
    text-align: center;
    padding: 0.25em;
    @include theme {
      border-top: 1px solid co(line);
      border-bottom: 1px solid co(line);
      background-color: rgba(co(weak), 0.5);
    }
  }

  [ui-demo-code] {
    padding: 0;

    & > * {
      margin: 0 !important;
      border: 0 !important;
    }
  }
}
